*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
header{
    background-color: orange;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

main{
    padding-top: 100px;
}

.container-header{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.left-col{
    width: 25%;
    height: 25px;
}

.main-col{
    width: 50%;
    height: 25px;
    text-align: center;
}

.right-col{
    width: 25%;
    height: 25px;
    text-align: right;
}

.container-main{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.justify-content-between{
    justify-content: space-between;
}

.h-300{
    height: 300px;
}

.bg-silver{
    background-color: silver;
}

.bg-red{
    background-color: red;
}

.border-black{
    border: 1px solid black;
}

.h-800{
    height: 800px;
}

.col-33{
    width: 33%;
}