*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
header{
    background-color: orange;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

main{
    padding-top: 100px;
}

.container-header{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.left-col{
    width: 25%;
    height: 25px;
}

.main-col{
    width: 50%;
    height: 25px;
    text-align: center;
}

.right-col{
    width: 25%;
    height: 25px;
    text-align: right;
}

.container-main{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.justify-content-between{
    justify-content: space-between;
}

.col-33{
    width: 33%;
    padding-bottom: 50px;
}

.card{
    width: 100%;
    position: relative;
}

.card img{
    max-width: 100%;
}

.brand{
    font-size: 12px;
}

.product{
    text-transform: uppercase;
}

.price{
    color: red;
}

.label{
    color: #fff;
    position: absolute;
    bottom: 60px;
    left: 0;
}

.bg-red{
    background-color: red;
}

.fa-solid.fa-heart{
    position: absolute;
    top: 0;
    right: 0;
}